* {
  color: #333333;
}

html, body, .App, .App+div {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.App {
  display: flex;
}

.main-container {
  width: 65%;
  padding-top: 40px;
}

.aside-container, .hidden-aside-container {
  width: 35%;
  background: #F8F8F8;
  padding-top: 40px;
}

.main-header, main {
  width: 75%;
  margin: auto;
}

.main-header h1 {
  margin-top: 0;
}

.Favourite {
  width: 80%;
  margin: auto;
}

.Favourite h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
  margin-top: 0;
}

.Greeting {
  margin: 40px 0;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.greeting-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0;
}

.greeting-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  margin-top: 0;
}

.radio-container {
  display: block;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}

.radio-container span {
  margin-left: 10px;
}

.Category {
  display: inline-block;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Category label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  padding: 6px 15px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ABABAB;
}

input[type=radio]:checked+.Category {
  background: #F8F8F8;
}

input[type=radio]:checked+.Category label {
  color: black;
}

input[type=text] {
  border: 2px solid #333333;
  border-radius: 10px;
  display: block;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0 30px;
  outline: none;
}

input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ABABAB;
}

.submit-button {
  background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
  border-radius: 10px;
  border: 0;
  padding: 10px 40px;
  margin: 20px 0 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

.like-button {
  margin-left: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: 0;
}

.joke-container {
  background: #F8F8F8;
  border-radius: 20px;
  margin: 20px 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.joke-content {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: top;
}

.joke-content-info {
  width: 90%;
}

.joke-content .message {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.joke-content-info-id {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  margin: 0 0 5px;
  color: #ABABAB;
}

.joke-content-info-id a {
  color: #8EA7FF;
}

.joke-content-info-id svg {
  margin-left: 5px;
}

.joke-content-info-value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
  color: #333333;
}

.joke-secondary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.joke-secondary-content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}

.joke-secondary-content span {
  font-weight: 500;
  color: #ABABAB;
}

.joke-secondary-content .Category {
  margin: 0;
  background-color: white;
}

.joke-secondary-content .Category label {
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

.aside-container .joke-container, .hidden-aside-container .joke-container {
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.aside-container .joke-container label, .hidden-aside-container .joke-container label {
  display: none;
}

.hidden-aside-container {
  display: none;
}

.burger {
  margin-top: 40px;
  display: none;
  cursor: pointer;
  position: absolute;

  right: 0;
}

.burger h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
  margin: 0 40px 0 10px;
}

@media (max-width: 768px) and (min-width: 481px) {
  .burger {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 25px;
    z-index: 2;
  }
  .aside-container {
    display: none;
  }
  .hidden-aside-container {
    padding-top: 60px;
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    z-index: 1;
  }

  .dark-side {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .main-container {
    width: 100%;
  }
  .main-header, main {
    width: 90%;
  }
}